[user]
	name = "James Duley"
	email = {{ .email | quote }}
[color]
	ui = true
[push]
	default = upstream
[alias]
	loga = log --graph --all --decorate --oneline
	logg = log --graph --decorate --oneline
	logs = log --stat
	diffc = diff --cached
	dc = diff --cached
	co = checkout
	br = branch
	ci = commit
	st = status
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	rba = rebase --abort
	roh = rebase origin/HEAD
[rebase]
	autoSquash = true
	autoStash = true
[interactive]
	singleKey = true
[advice]
	detachedHead = false
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[credential "github.com"]
        useHttpPath = true
[credential "https://github.com"]
       username = {{ .githubUsername }}

